<section class="max-w-screen-lg mx-auto px-4 py-16">
  <h1 class="text-2xl font-bold">Contact</h1>
  <div class="prose max-w-prose my-8 leading-relaxed space-y-8">
    <p>
      I'm always looking for new opportunities to collaborate and share my
      ideas. If you have any questions or want to work together, please feel
      free to reach out.
    </p>
    <p>
      You can reach me via email at <a
        href="mailto:javier.hwulin.devtech@gmail.com"
        >javier.hwulin.devtech@gmail.com</a
      >.
    </p>
    <p>
      You can also find me on <a href="https://x.com/hengda_wu">Twitter</a> and
      <a href="https://github.com/javierhwulin">GitHub</a>.
    </p>
  </div>
</section>
